<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Profilbild</ion-card-title>
    </ion-card-header>
    <div class="ion-text-center">
      <ion-avatar style="height: 30%; width: 30%; margin: 15% auto; display:block">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Information</ion-card-title>
    </ion-card-header>
    <ion-card>
      <ion-card-content>
        Vorname:
      </ion-card-content>
      <ion-card-content>
        Nachname:
      </ion-card-content>
      <ion-card-content>
        E-Mail:
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        Straße:
      </ion-card-content>
      <ion-card-content>
        Plz.:
      </ion-card-content>
      <ion-card-content>
        Ort:
      </ion-card-content>
    </ion-card>
  </ion-card>

</ion-content>
