:host{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

svg{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.room{
    fill: #f0f0f0;
    stroke: black;
    stroke-width: 5px;
}